.App {
  text-align: center; 
  width: 100vw;
  height: 100vh;
  background: transparent;  
}
.navbuttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  position: fixed;
  top: 0 ;
  left: calc(width - 50%);
  color: white;
  padding-block: 10px; 
  justify-content: center;
  margin-block: 15px;
}
.create  p{
  color: red;
}
.scan  p{
  color: red;
}
.qr-wrap {
  width: 95%;
  height: 90%; 
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-block: 40px;
  overflow-y: auto;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.scan img{
  height: 100px;
  width: 100px;
}